MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=itapoke
GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com
